<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="in.com.base.Student" id="std">
    <property name="rollno" value="23"/>
    <property name="name" value="vivek"/>
    <property name="email" value="vivek@123"/>
    
    
    
    </bean>

</beans>